.wrapper
  .side-bar
    .side-bar__user-name
      .side-bar__user-name--top-items
        .side-bar__user-name--top-items--top-items__name
          harazono
        .side-bar__user-name--top-items--top-items__icons
          =link_to "#", class:"side-bar__user-name--top-items--top-items__icons-icon" do
            =icon("fa", "edit")
          =link_to "#", class:"side-bar__user-name--top-items--top-items__icons-icon" do
            =icon("fa", "cog")
  
    .side-bar__group-list
      .side-bar__group-list--group-name
        chatspace1
      .side-bar__group-list--message
        test

  